ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_API_URL=https://api.elevenlabs.io
ELEVENLABS_MODEL=eleven_v4
CORS_ORIGINS=http://localhost:8081,http://localhost:8082

# Дуу, яриа таних. Хурдан турших бол WHISPER_MODEL=tiny
WHISPER_MODEL=small
SOUND_MIN_SCORE=0.3
